.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  font-size: 5rem;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.button-container{
  display: inline-flex;
  margin-left: 40%;
  text-align: center;
  padding: 1px;

  
}
button{
  display: block;
  height: 50px;
  width: 130px;
  border: 2px solid;
  font-size: 23px;
  border-radius: 8px;
  margin-left: 30%;
  margin-top: 20px;
  font-family: 'Indie Flower', cursive;
}


